go 1.23.0

use (
	./pkg
	./services/campaign
	./services/cart
	./services/checkout
	./services/gateway
	./services/inventory
	./services/media
	./services/notification
	./services/order
	./services/payment
	./services/product
	./services/search
	./services/user
	./tests/integration
)
