apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
  namespace: ecommerce
  labels:
    app: inventory
    app.kubernetes.io/name: inventory
    app.kubernetes.io/component: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
        app.kubernetes.io/name: inventory
        app.kubernetes.io/component: backend
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        runAsGroup: 65532
      containers:
        - name: inventory
          image: ghcr.io/utafrali/ecommercego/inventory:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8007
              protocol: TCP
            - name: grpc
              containerPort: 9007
              protocol: TCP
          envFrom:
            - configMapRef:
                name: inventory-config
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8007
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8007
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
