apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - product
  - cart
  - order
  - checkout
  - payment
  - user
  - inventory
  - campaign
  - notification
  - search
  - media
  - gateway
