apiVersion: v1
kind: Service
metadata:
  name: cart
  namespace: ecommerce
  labels:
    app: cart
    app.kubernetes.io/name: cart
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app: cart
  ports:
    - name: http
      port: 8002
      targetPort: 8002
      protocol: TCP
