apiVersion: v1
kind: Service
metadata:
  name: checkout
  namespace: ecommerce
  labels:
    app: checkout
    app.kubernetes.io/name: checkout
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app: checkout
  ports:
    - name: http
      port: 8004
      targetPort: 8004
      protocol: TCP
    - name: grpc
      port: 9004
      targetPort: 9004
      protocol: TCP
