apiVersion: v1
kind: Service
metadata:
  name: user
  namespace: ecommerce
  labels:
    app: user
    app.kubernetes.io/name: user
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app: user
  ports:
    - name: http
      port: 8006
      targetPort: 8006
      protocol: TCP
    - name: grpc
      port: 9006
      targetPort: 9006
      protocol: TCP
